.float-promote{
	color: #000;
	position: fixed;
	z-index: 999;
	max-height: 200px;
	max-width: 200px;
}
.float-promote-close{
	width: 30px;
	height: 30px;
	color: #fff;
	cursor:pointer;
	font-size: 25px;
	position: absolute;
	background-color: #000;
	border-radius: 50%;
	padding: 2px 5px;
	margin: 3px;
}
.float-promote-close-right{
	right: 0;
}
